.main {
    height: 84vh;
    background-image: url(../../assets/fundoDesktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.perfil{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 80vh;

    img{
        width: 80%;
    }
    
    h1 {
        font-family: monospace;
        font-size: 31px;
        color: #7d1186;
        white-space: nowrap;
        overflow: hidden;
        animation: escrever 4s steps(16) infinite, piscarCursor 0.7s infinite;
    }

    @keyframes escrever {
        from { width: 0ch; }
            to { width: 20ch;}
        }
    
    @keyframes piscarCursor {
        50% { border-color: transparent; }
    }

}


.sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    height: 50vh;
    width: 65%;

    h1{
        font-size: 35px;
    }


    h2 {
        font-size: 25px;
        white-space: nowrap;
        overflow: hidden;
        animation: escreverNome 4s steps(30) infinite, piscarCursorNome 0.7s infinite;

        span{
            color: #7d1186;
        }

        @keyframes escreverNome {
        from { width: 0ch; }
            to { width: 30ch;}
        }
    
        @keyframes piscarCursorNome {
        50% { border-color: transparent; }
        }
    }

    p {
        font-size: 20px;
        width: 75%;
    }
}

.rede{
    display: flex;
    justify-content: space-evenly;
    justify-content: start;

    a{
        height: 1vh;
    }

    img {
        width: 4vw;
    }
}

@media (max-width:768px) {
    .main{
        flex-direction: column;
        height: 44.1rem;

        .perfil{
            width: 100%;
            height: 40vh;

            img{
                width: 60%;
            }
        }

        .sobre{
            width: 100%;
            height: 40vh;
            
            h1{
                text-align: center;
            }
            
            h2{
                font-size: 22px;
            }

            p{
                font-weight: 500;
                text-align: justify;
                width: 98%;
            }
        }

        .rede{
            height: 7vh;
            img {
                width: 15vw;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .main{
        flex-direction: column;

        .perfil{
            height: 35vh;
            width: 50%;

            h1{
                font-size: 25px;
            }
        }

        .sobre{
            height: 30vh;
            width: 98%;
        }

        .rede{
            a{
                img{
                    width: 8vw;
                }
            }
        }
    }
}